language = "c"
run = "gcc -o labrabota3-1 /home/runner/lab2-task1-gr9b-narkevich/src/main.c && ./labrabota3-1"
modules = ["c-clang14"]

[deployment]
run = ["sh", "-c", "gcc -o hello /home/runner/project2/src/hello.c"]

[nix]
channel = "stable-24_05"
